.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
    gap: 50px;
}

.hero-img {
    height: 300px;
    background: var(--card);
    border-radius: 20px;
}

.dashboard-header {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}